{
    "swagger": "2.0",
    "info": {
        "title": "API",
        "description": "Opentact API",
        "version": "1.0.0"
    },
    "host": "portal.opentact.org",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/api/conference/conference-list": {
            "get": {
                "tags": [
                    "conferences"
                ],
                "summary": "Get list of conferences",
                "responses": {
                    "200": {
                        "description": "List of conferences"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/conference/show/{conferenceName}": {
            "get": {
                "tags": [
                    "conferences"
                ],
                "summary": "Get list of conferences",
                "parameters": [
                    {
                        "name": "conferenceName",
                        "in": "path",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conference"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/conference/list/{user_id}": {
            "get": {
                "tags": [
                    "files"
                ],
                "summary": "Return conference file list",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "APP user ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "conf_name",
                        "in": "query",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File list"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/conference/file/{user_id}": {
            "get": {
                "tags": [
                    "files"
                ],
                "summary": "Return conference record file",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "APP user ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "conf_name",
                        "in": "query",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "File name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/conference/add": {
            "post": {
                "tags": [
                    "conferences"
                ],
                "summary": "Create conference",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "host_pin",
                        "in": "formData",
                        "description": "Host PIN",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "guest_pin",
                        "in": "formData",
                        "description": "Guest PIN",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "greeting_prompt",
                        "in": "formData",
                        "description": "Greeting prompt",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/conference/delete": {
            "post": {
                "tags": [
                    "conferences"
                ],
                "summary": "Delete conference",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/actions-parameters": {
            "get": {
                "tags": [
                    "did"
                ],
                "summary": "DID Actions-parameters list",
                "responses": {
                    "200": {
                        "description": "Action list"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/availabilitystate": {
            "post": {
                "tags": [
                    "did"
                ],
                "summary": "DID availability state",
                "responses": {
                    "200": {
                        "description": "DID States"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/availabilitynpanxx": {
            "post": {
                "tags": [
                    "did"
                ],
                "summary": "DID availability NPA",
                "parameters": [
                    {
                        "name": "state",
                        "in": "formData",
                        "description": "State",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "State NPA"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "State not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/searchdid": {
            "post": {
                "tags": [
                    "did"
                ],
                "summary": "Search DIDs by state",
                "parameters": [
                    {
                        "name": "state",
                        "in": "formData",
                        "description": "State",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available DIDs"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/searchUSTFdid": {
            "post": {
                "tags": [
                    "did"
                ],
                "summary": "Search DIDs by state",
                "parameters": [
                    {
                        "name": "state",
                        "in": "formData",
                        "description": "State",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available DIDs"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/reserve": {
            "post": {
                "tags": [
                    "did"
                ],
                "summary": "Buy DID",
                "parameters": [
                    {
                        "name": "did",
                        "in": "formData",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "action_id",
                        "in": "formData",
                        "description": "DID Action ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "owned_by",
                        "in": "formData",
                        "description": "DID User ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/set-action": {
            "post": {
                "tags": [
                    "did"
                ],
                "summary": "Set DID action",
                "parameters": [
                    {
                        "name": "did",
                        "in": "formData",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "action_id",
                        "in": "formData",
                        "description": "DID Action ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "parameters",
                        "in": "formData",
                        "description": "Parameters (JSON)",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated DID"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/available-countries": {
            "get": {
                "tags": [
                    "did"
                ],
                "summary": "Get DID available countries",
                "parameters": [
                    {
                        "name": "country_iso",
                        "in": "query",
                        "description": "Country ISO",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Countries"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/available-regions": {
            "get": {
                "tags": [
                    "did"
                ],
                "summary": "Get DID available regions",
                "parameters": [
                    {
                        "name": "country_iso",
                        "in": "query",
                        "description": "Country ISO",
                        "type": "string"
                    },
                    {
                        "name": "city_prefix",
                        "in": "query",
                        "description": "City prefix",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Regions"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/available-cities": {
            "get": {
                "tags": [
                    "did"
                ],
                "summary": "Get DID available cities",
                "parameters": [
                    {
                        "name": "country_iso",
                        "in": "query",
                        "description": "Country ISO",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "city_id",
                        "in": "query",
                        "description": "City ID",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Cities"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/did/rates": {
            "get": {
                "tags": [
                    "did"
                ],
                "summary": "Get DID rates",
                "parameters": [
                    {
                        "name": "country_iso",
                        "in": "query",
                        "description": "Country ISO",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DID Rates"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/developer/balance": {
            "get": {
                "tags": [
                    "developer"
                ],
                "summary": "Return developer's balance",
                "responses": {
                    "200": {
                        "description": "Balance"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/developer/app-list": {
            "get": {
                "tags": [
                    "developer"
                ],
                "summary": "Return App list of current developer",
                "responses": {
                    "200": {
                        "description": "App list"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/developer/app-status": {
            "get": {
                "tags": [
                    "developer"
                ],
                "summary": "Return current app's status'",
                "responses": {
                    "200": {
                        "description": "App status"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/developer/change-password": {
            "post": {
                "tags": [
                    "developer"
                ],
                "summary": "Create new APP",
                "parameters": [
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "New password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/developer/cdr": {
            "get": {
                "tags": [
                    "developer"
                ],
                "summary": "CDR",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "App Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "Client Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Date From",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Date To",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/voicemail/list/{user_id}": {
            "get": {
                "tags": [
                    "files"
                ],
                "summary": "Return voicemail file list",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "APP user ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File list"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/voicemail/file/{user_id}": {
            "get": {
                "tags": [
                    "files"
                ],
                "summary": "Return voicemail file",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "APP user ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "File name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/fs/get_call_handler": {
            "get": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Get call handler",
                "parameters": [
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Call handler response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/fs/join_conference": {
            "get": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Join conference",
                "parameters": [
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "ani",
                        "in": "query",
                        "description": "ANI",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "UUID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "conf_name",
                        "in": "query",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "conf_id",
                        "in": "query",
                        "description": "Conference Id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/fs/leave_conference": {
            "get": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Leave conference",
                "parameters": [
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "ani",
                        "in": "query",
                        "description": "ANI",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "UUID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "conf_name",
                        "in": "query",
                        "description": "Conference name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "conf_id",
                        "in": "query",
                        "description": "Conference Id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/fs/agent_join_queue": {
            "get": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Join agent queue",
                "parameters": [
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "ani",
                        "in": "query",
                        "description": "ANI",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "UUID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "queue_name",
                        "in": "query",
                        "description": "Queue name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "queue_id",
                        "in": "query",
                        "description": "Queue Id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/fs/agent_leave_queue": {
            "get": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Leave agent queue",
                "parameters": [
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "DID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "ani",
                        "in": "query",
                        "description": "ANI",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "UUID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "queue_name",
                        "in": "query",
                        "description": "Queue name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "queue_id",
                        "in": "query",
                        "description": "Queue Id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/dialplan": {
            "post": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Return freeswitch XML",
                "parameters": [
                    {
                        "name": "Caller-ANI",
                        "in": "formData",
                        "description": "Caller ANI",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "Caller-Destination-Number",
                        "in": "formData",
                        "description": "Caller Destination Number",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XML"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user": {
            "post": {
                "tags": [
                    "freeswitch"
                ],
                "summary": "Return freeswitch user XML",
                "parameters": [
                    {
                        "name": "user",
                        "in": "formData",
                        "description": "APP user's email",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XML"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/friend/send-friend-request": {
            "post": {
                "tags": [
                    "friends"
                ],
                "summary": "Send APP user friend request(s)",
                "parameters": [
                    {
                        "name": "first_app_user_id",
                        "in": "formData",
                        "description": "First App user`s id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "second_app_user_id",
                        "in": "formData",
                        "description": "Second App user`s id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/friend/accept-friend-request": {
            "post": {
                "tags": [
                    "friends"
                ],
                "summary": "Accept APP user friend request(s)",
                "parameters": [
                    {
                        "name": "first_app_user_id",
                        "in": "formData",
                        "description": "First App user`s id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "second_app_user_id",
                        "in": "formData",
                        "description": "Second App user`s id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/friend/block-user": {
            "post": {
                "tags": [
                    "friends"
                ],
                "summary": "Block APP user friend request(s)",
                "parameters": [
                    {
                        "name": "first_app_user_id",
                        "in": "formData",
                        "description": "First App user`s id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "second_app_user_id",
                        "in": "formData",
                        "description": "Second App user`s id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/friend/decline-friend-request": {
            "post": {
                "tags": [
                    "friends"
                ],
                "summary": "Decline APP user friend request(s)",
                "parameters": [
                    {
                        "name": "first_app_user_id",
                        "in": "formData",
                        "description": "First App user`s id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "second_app_user_id",
                        "in": "formData",
                        "description": "Second App user`s id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/friend/block-list": {
            "get": {
                "tags": [
                    "friends"
                ],
                "summary": "List APP user friends",
                "parameters": [
                    {
                        "name": "app_user_id",
                        "in": "query",
                        "description": "APP User Id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    }
                }
            }
        },
        "/api/friend/list": {
            "get": {
                "tags": [
                    "friends"
                ],
                "summary": "List APP user friends",
                "parameters": [
                    {
                        "name": "app_user_id",
                        "in": "query",
                        "description": "APP User Id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    }
                }
            }
        },
        "/api/ivr/list": {
            "get": {
                "tags": [
                    "ivr"
                ],
                "summary": "IVR",
                "responses": {
                    "200": {
                        "description": "IVR List"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/ivr/add": {
            "post": {
                "tags": [
                    "ivr"
                ],
                "summary": "Add IVR",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "IVR name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "alias",
                        "in": "formData",
                        "description": "IVR alias",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parameter",
                        "in": "formData",
                        "description": "IVR Parameter",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created IVR"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/ivr/delete": {
            "post": {
                "tags": [
                    "ivr"
                ],
                "summary": "Delete IVR",
                "parameters": [
                    {
                        "name": "alias",
                        "in": "formData",
                        "description": "IVR alias",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/info/daily-usage": {
            "get": {
                "tags": [
                    "information"
                ],
                "summary": "Daily usage",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "APP User ID (if app_id not provided)",
                        "type": "integer"
                    },
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "APP ID (if user_id not provided)",
                        "type": "integer"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start from",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End to",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Daily usage"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/info/detail-did-usage": {
            "get": {
                "tags": [
                    "information"
                ],
                "summary": "Detail DID usage",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "APP User ID (if app_id not provided)",
                        "type": "integer"
                    },
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "APP ID (if user_id not provided)",
                        "type": "integer"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start from",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End to",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail DID usage"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/info/cdr": {
            "get": {
                "tags": [
                    "information"
                ],
                "summary": "CDR",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "APP User ID",
                        "type": "integer"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start from",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End to",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "ani",
                        "in": "query",
                        "description": "ANI",
                        "type": "integer"
                    },
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "DNIS",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CDR"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/enable": {
            "post": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Enable Mass Call",
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "formData",
                        "description": "App ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prefix"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/generate-session": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "ani_list",
                        "in": "query",
                        "description": "ani_list",
                        "type": "string"
                    },
                    {
                        "name": "dnis_list",
                        "in": "query",
                        "description": "dnis_list",
                        "type": "string"
                    },
                    {
                        "name": "allowed_time",
                        "in": "query",
                        "description": "allowed_time",
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "app_user_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Session key"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/suspend-session": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/resume-session": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/stop-session": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/session-stat": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/dialed-numbers": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/successful-numbers": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/failed-numbers": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/invalid-numbers": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/busy-numbers": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/unanswered-numbers": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/mass-call/dial-history": {
            "get": {
                "tags": [
                    "mass-call"
                ],
                "summary": "Generate Session",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "session_id",
                        "type": "string"
                    },
                    {
                        "name": "dnis",
                        "in": "query",
                        "description": "dnis",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/balance": {
            "get": {
                "tags": [
                    "payments"
                ],
                "summary": "Return user balance",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "APP User ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/addCredit": {
            "post": {
                "tags": [
                    "payments"
                ],
                "summary": "Add user's credit",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "formData",
                        "description": "APP User ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "amount",
                        "in": "formData",
                        "description": "Amount",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "remark",
                        "in": "formData",
                        "description": "Remark",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/creditHistory": {
            "get": {
                "tags": [
                    "payments"
                ],
                "summary": "Get credit history",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "APP User ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Credit history"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/getAllowedCountry": {
            "get": {
                "tags": [
                    "payments"
                ],
                "summary": "Return allowed country",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "APP User ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allowed country"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/getRates": {
            "get": {
                "tags": [
                    "payments"
                ],
                "summary": "Return rates for exact country",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "APP User ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rates"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/getRate": {
            "get": {
                "tags": [
                    "payments"
                ],
                "summary": "Return rates for exact number",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "APP User ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Number",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rates"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/app/create": {
            "post": {
                "tags": [
                    "app"
                ],
                "summary": "Create new APP",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "App name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "account_id",
                        "in": "formData",
                        "description": "Developer Account ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "sign",
                        "in": "formData",
                        "description": "Auth sign",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/queue/list": {
            "get": {
                "tags": [
                    "queues"
                ],
                "summary": "Get queue list",
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/queue/add": {
            "post": {
                "tags": [
                    "queues"
                ],
                "summary": "Create queue",
                "parameters": [
                    {
                        "name": "queue_name",
                        "in": "formData",
                        "description": "Queue name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_waiting_prompt",
                        "in": "formData",
                        "description": "Client waiting prompt",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "agent_waiting_prompt",
                        "in": "formData",
                        "description": "Agent waiting prompt",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/queue/delete": {
            "post": {
                "tags": [
                    "queues"
                ],
                "summary": "Delete queue",
                "parameters": [
                    {
                        "name": "queue_name",
                        "in": "formData",
                        "description": "Queue name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/rates/country-list": {
            "get": {
                "tags": [
                    "rates"
                ],
                "summary": "Get Rates For Country",
                "responses": {
                    "200": {
                        "description": "Prefix"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/rates/destination": {
            "get": {
                "tags": [
                    "rates"
                ],
                "summary": "Get Destination By Country",
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "description": "country",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prefix"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/rates/rates-for-country": {
            "get": {
                "tags": [
                    "rates"
                ],
                "summary": "Get Rates For Country",
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "app_id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "country",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prefix"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/rates/rates-for-destination": {
            "get": {
                "tags": [
                    "rates"
                ],
                "summary": "Get Rates For Destination",
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "app_id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "destination",
                        "in": "query",
                        "description": "destination",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prefix"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/rates/rates-for-code": {
            "get": {
                "tags": [
                    "rates"
                ],
                "summary": "Get Rates For Code",
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "app_id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prefix"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/rates/update-rate": {
            "post": {
                "tags": [
                    "rates"
                ],
                "summary": "Update Rate",
                "parameters": [
                    {
                        "name": "app_id",
                        "in": "formData",
                        "description": "App Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "Code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rate",
                        "in": "formData",
                        "description": "Rate",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/sms/log": {
            "get": {
                "tags": [
                    "sms"
                ],
                "summary": "Get SMS Log",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "APP User Id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start from",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End to",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SMS Log"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/sms/send": {
            "post": {
                "tags": [
                    "sms"
                ],
                "summary": "Send SMS",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "APP User Id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "text",
                        "in": "formData",
                        "description": "Text",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SMS Sent"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "List APP users",
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "400": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Auth required"
                    }
                }
            },
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create APP user(s)",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "App user`s name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "App user`s email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "App user's password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns created user(s)"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/users/{email}": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get user info",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "description": "App user`s email",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User info"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/sip-password": {
            "get": {
                "tags": [
                    "sip"
                ],
                "summary": "Get SIP user's password",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "App user id",
                        "type": "integer"
                    },
                    {
                        "name": "billing_alias",
                        "in": "query",
                        "description": "App user`s billing alias",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sip password"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/sipuser/list": {
            "get": {
                "tags": [
                    "sip"
                ],
                "summary": "List SIP users",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "query",
                        "description": "App user id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of SIP users"
                    }
                }
            }
        },
        "/api/sipuser/add": {
            "post": {
                "tags": [
                    "sip"
                ],
                "summary": "Create SIP user",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "formData",
                        "description": "App user id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/sipuser/delete": {
            "post": {
                "tags": [
                    "sip"
                ],
                "summary": "Delete SIP user",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "formData",
                        "description": "App user id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "sip_user",
                        "in": "formData",
                        "description": "SIP Username",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/users/change-password": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Change Password",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "App user id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "App user password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "repeat_password",
                        "in": "formData",
                        "description": "App user password repeat",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "new_password",
                        "in": "formData",
                        "description": "New App user password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success result"
                    },
                    "401": {
                        "description": "Auth required"
                    }
                }
            }
        },
        "/api/token": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Returns access token",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "grant_type",
                        "in": "formData",
                        "description": "Grant type",
                        "required": true,
                        "type": "string",
                        "default": "client_credentials"
                    },
                    {
                        "name": "app_uuid",
                        "in": "formData",
                        "description": "App UUID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "app_secret",
                        "in": "formData",
                        "description": "App Secret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "scope",
                        "in": "formData",
                        "description": "Scope",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access token"
                    },
                    "500": {
                        "description": "Authentication failed"
                    }
                }
            }
        }
    },
    "definitions": {
        "Auth": {
            "required": [
                "grant_type",
                "app_uuid",
                "app_secret"
            ]
        }
    },
    "tags": [
        {
            "name": "auth",
            "description": "Access token"
        },
        {
            "name": "users",
            "description": "operations with users"
        },
        {
            "name": "sip",
            "description": "sip API"
        },
        {
            "name": "did",
            "description": "DID API"
        },
        {
            "name": "sms",
            "description": "SMS API"
        },
        {
            "name": "freeswitch",
            "description": "Freeswitch API"
        },
        {
            "name": "files",
            "description": "Files API"
        },
        {
            "name": "conferences",
            "description": "Conference API"
        },
        {
            "name": "queues",
            "description": "Queue API"
        },
        {
            "name": "payments",
            "description": "Payment API"
        },
        {
            "name": "information",
            "description": "Info API (Daily usage, CDR, etc)"
        },
        {
            "name": "ivr",
            "description": "IVR API"
        },
        {
            "name": "developer",
            "description": "Developer API"
        },
        {
            "name": "app",
            "description": "APP API"
        },
        {
            "name": "friends",
            "description": "User Friends API"
        },
        {
            "name": "mass-call",
            "description": "Mass Call"
        },
        {
            "name": "rates",
            "description": "Rates"
        }
    ]
}